/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  color:white;
  font-family: 'Monserrat', sans-serif;

}
/*sidebar */
.box-sidebar{
  width: 250px;
  height: calc(100vh - 80px);
  background-color: #000000;
  position: relative;
}
.box-sidebar .logo-spoty{
  padding: 20px 80px 20px 20px;
}

.box-sidebar .menu-sidebar{
  margin: 10px 0;
}
.box-sidebar .menu-sidebar img{
  height: 30px;
  width: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
.box-sidebar .menu-button{
  display: block;
  width: 100%;
  line-height: 35px;
  color: #6e6e6e;
  text-decoration: none;
  padding-left: 20px;
}
.box-sidebar .menu-button:hover{
  color: white;
}
.box-sidebar .menu-button:hover .my-playlist{
  background-color: white;
}
.box-sidebar .menu-sidebar .button-active{
  color: white;
  border-left: 3px solid #adff2f;
  padding-left: 17px;
}
.box-sidebar .my-playlist .my-playlist{
  display: inline-block;
  height: 35px;
  width: 35px;
  background-color: #6e6e6e;
  color: black;
  vertical-align: middle;
  text-align: center;
  margin-right: 10px;
}
.box-sidebar .my-playlist h4{
  padding-left: 20px;
  line-height: 35px;
}
.box-sidebar .box-bottom-sidebar{
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
}




/* /main windows */
#main-content{
  position: absolute;
  top:0;
  right:0;
  width: calc(100vw - 250px);
  height: calc(100vh - 80px);
  background-color: #0c0f14;
}

/* box upgrade */

#main-content .box-upgrade{
  width: calc(100vw - 250px);
  height: 80px;
  background-color: #070a0f;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
}

#main-content .box-upgrade .button-upgrade{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  vertical-align: middle;
  height: 40px;
  padding: 10px 40px;
  margin-right: 10px;
}





/* player bottom */
#player-bottom{
  width: 100vw;
  height: 80px;
  background-color: #121417
}
