/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  color:white;
  font-family: 'Monserrat', sans-serif;

}
main{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/*sidebar */
.box-sidebar{
  width: 250px;
  height: calc(100vh - 80px);
  background-color: #000000;
  position: relative;

}
 .box-sidebar .logo-spoty{
  padding: 20px 80px 20px 20px;
}

.box-sidebar .menu-sidebar{
  margin: 10px 0;
}
.box-sidebar .menu-sidebar img{
  height: 30px;
  width: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
.box-sidebar .menu-button{
  display: block;
  width: 100%;
  line-height: 35px;
  color: #6e6e6e;
  text-decoration: none;
  padding-left: 20px;
}
.box-sidebar .menu-button:hover{
  color: white;
}
.box-sidebar .menu-button:hover .my-playlist{
  background-color: white;
}
.box-sidebar .menu-sidebar .button-active{
  color: white;
  border-left: 3px solid #adff2f;
  padding-left: 17px;
}
.box-sidebar .my-playlist .my-playlist{
  display: inline-block;
  height: 35px;
  width: 35px;
  background-color: #6e6e6e;
  color: black;
  vertical-align: middle;
  text-align: center;
  margin-right: 10px;
}
.box-sidebar .my-playlist h4{
  padding-left: 20px;
  line-height: 35px;
}
.box-sidebar .box-bottom-sidebar{
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
}
.box-sidebar .box-bottom-sidebar i{
  margin-right: 10px;
}

   .line-green{
  background-color: #6e6e6e;
  height: 1px;
  width: 200px;
  margin: 0 20px;
}
 .box-sidebar .box-bottom-sidebar .user-sidebar{
  color:white;
}
 .box-sidebar .box-bottom-sidebar .user-sidebar .icon-user{
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #6e6e6e;
  overflow: hidden;
  margin-right: 10px;
}
.box-sidebar .box-bottom-sidebar .user-sidebar .icon-user img{
  width: 100%;
}



/*main content */
#main-content{

  position: absolute;
  top:0;
  right:0;
  width: calc(100vw - 250px);
  height: calc(100vh - 80px);
  background-color: #0c0f14;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* box upgrade */

#main-content .box-upgrade{
  width: calc(100vw - 250px);
  height: 80px;
  background-color: #070a0f;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
}

#main-content .box-upgrade .button-upgrade{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  vertical-align: middle;
  height: 40px;
  padding: 10px 40px;
  margin-right: 10px;
}






/* player bottom */
#player-bottom{
  display: flex;
  position: fixed;
  left: 0;
  bottom:0;
  width: 100vw;
  height: 80px;
  background-color: #282828;
  justify-content: space-between;
  align-items: center;
  color: white;

}



.info-player {
  display: flex;
  align-items: center;
  margin-left: 10px;

}

.info-player img {
  width: 50px;
  margin-right: 10px;
}

.info-player .brano {
  margin-right: 10px;
}

.info-player p {
  color: #b4b4b4;
}

.info-player .icone-brano {
  color: #b4b4b4;
  margin-left: 10px;
}

.info-player .icone-brano i:hover {
  color: white;
}

.sound-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.volumebar-full {
  width: 30px;
  border: 2px solid green;
}
.volumebar-empty {
  width: 50px;
  border: 2px solid grey;
}
.flex-volumebar {
  display: flex;
}
.sound-icon i {
  margin-right: 10px;

}
.barraplayer {
  text-align: center;
}
.flex-playbar {
  display: flex;
  align-items: center;
}

.flex-playbar-full-empty {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
}

.playbar-full {
  width: 100px;
  border: 2px solid green;
}

.playbar-empty {
  width: 170px;
  border: 2px solid grey;
}

.flex-player span,
.flex-player p {
  font-size: 12px;
}

.flex-player i {
  padding: 5px;
}

.fa-play-circle {
  font-size: 25px;
}

.icone-barraplayer i{
  margin-left: 15px;

}
